extends layout

block content
  .book-detail
    .book-header
      h2.book-title= book.title
      .book-actions
        a.btn.btn-secondary(href="/")
          i.fas.fa-arrow-left
          | Back to List
        a.btn(href=`/books/${book.id}/edit`)
          i.fas.fa-edit
          | Edit
        button.btn.btn-danger.delete-btn(data-id=book.id, data-title=book.title)
          i.fas.fa-trash
          | Delete
    
    .book-content
      .book-info
        .info-group
          h3
            i.fas.fa-info-circle
            | Basic Information
          .info-grid
            .info-item
              strong Author:
              span= book.author
            .info-item
              strong Year:
              span= book.year
            if book.isbn
              .info-item
                strong ISBN:
                span= book.isbn
        
        if book.description
          .info-group
            h3
              i.fas.fa-align-left
              | Description
            p.description= book.description
        
        .info-group
          h3
            i.fas.fa-exchange-alt
            | Availability Status
          .status-info
            if book.isAvailable
              .status.available
                i.fas.fa-check-circle
                | Available for borrowing
              button.btn.btn-success.lend-btn(data-id=book.id)
                i.fas.fa-hand-holding
                | Lend This Book
            else
              .status.borrowed
                i.fas.fa-clock
                | Currently Borrowed
              .borrower-details
                .info-item
                  strong Borrowed by:
                  span= book.reader
                .info-item
                  strong Due date:
                  span= book.dueDate
                button.btn.btn-warning.return-btn(data-id=book.id)
                  i.fas.fa-undo
                  | Return Book

  //- Include modals directly instead of using include
  dialog#lendModal.modal
    .modal-content
      h3
        i.fas.fa-hand-holding
        | Lend Book
      form#lendForm
        input(type="hidden", name="bookId", id="lendBookId")
        .form-group
          label(for="readerName") Reader Name:
          input(type="text", id="readerName", name="reader", required, placeholder="Enter reader's name")
        .form-group
          label(for="dueDate") Due Date:
          input(type="date", id="dueDate", name="dueDate", required)
        .modal-actions
          button.btn(type="button", id="cancelLend") Cancel
          button.btn.btn-primary(type="submit") Lend Book

  dialog#deleteModal.modal
    .modal-content
      h3
        i.fas.fa-exclamation-triangle
        | Confirm Delete
      p#deleteMessage Are you sure you want to delete this book?
      .modal-actions
        button.btn(type="button", id="cancelDelete") Cancel
        button.btn.btn-danger(type="button", id="confirmDelete") Delete Book